.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.centered-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  margin: 10px;
  border-radius: 20px;
}
a{
    text-decoration: none;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1{
  text-align: center;
  height: 100px;
}
a{
  text-decoration: none;
  color: inherit;
}